extends layout

block content
  h1= title
  figure
    img(src='/images/tea-field.jpg' alt='Green Tea Field')
    figcaption Photo by Christine Wehrmeier on Unsplash
  h2
    a(href='/catalog/teas') Teas: #{data.teaCount}
  h2
    a(href='/catalog/categories') Categories: #{data.categoryCount}

