extends layout

block content
  h1= title
  p #{tea.description}
  p
    strong Quantity:
    | #{tea.quantity}g
  p
    strong Do you really want to delete this Tea?
  form(action='' method='POST')
    input(type='submit' value='Delete')

